<div class="container">
     <!-- Sidebar -->
     <div class="left">
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-grey">
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
              <a
                href="#"
                class="list-group-item list-group-item-action py-2 ripple"
                aria-current="true"
              >
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>On Sales!</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>New</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas fa-lock fa-fw me-3"></i><span>Shop by Store</span></a
              >
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas fa-chart-line fa-fw me-3"></i><span>Fruit & Veg</span></a
              >
              <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-pie fa-fw me-3"></i><span>Meat & Seafood</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Dairy and Chilled</span></a
              >
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas fa-globe fa-fw me-3"></i><span>Bakery</span></a
              >
              <a href="#" class="list-group-item list-group-item-action"
                ><i class="fas fa-building fa-fw me-3"></i><span>Beverages</span></a
              >
              <p></p>
            </div>
          </div>
        </nav>
    </div>
        <!-- Sidebar -->
    <div class="right">
        <div class="img"><img src="assets/Side image.png" class="img-fluid" alt="Responsive image"></div>
                <p><br><br></p>
                <div class="row">
                        <div class="col-sm-4" *ngFor="let product of products;">
                            <div class="card shadow p-3 mb-5 bg-white rounded">
                                <img src="{{product.img}}" class="card-img-top" alt="{{product.name}} image">
                                <div class="card-body">
                                    <h5 class="card-title">{{product.name}}</h5>
                                    <p class="card-text">{{product.desc}}</p>
                                    <a href="/productdetails/{{product.code}}" class="btn btn-primary">Detail</a>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
</div>
