<div class="container">
   <!-- Sidebar -->
   <div class="left">
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-grey">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
            href="#"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
          >
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>On Sales!</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>New</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-lock fa-fw me-3"></i><span>Shop by Store</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-chart-line fa-fw me-3"></i><span>Fruit & Veg</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Meat & Seafood</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Dairy and Chilled</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-globe fa-fw me-3"></i><span>Bakery</span></a
          >
          <a href="#" class="list-group-item list-group-item-action"
            ><i class="fas fa-building fa-fw me-3"></i><span>Beverages</span></a
          >
          <p></p>
        </div>
      </div>
    </nav>
</div>
    <!-- Sidebar -->
        <div class="right">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{currentBook.img}}" class="img-fluid rounded-start" alt="{{currentBook.name}} image">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{currentBook.name}}</h5>
                      <p class="card-text">{{currentBook.desc}}</p>                      
                      <p class="card-text">{{currentBook.item}}</p>
                      <p class="card-text"><small class="text-muted">Rp.{{currentBook.Price | number: '.0'}}</small></p>
                      <a href="#" class="btn btn-primary">Purchase This Product</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="img"><img src="assets/Page3.png" class="img-fluid" alt="Responsive image"></div>
            </div>
            
</div>